 <!-- About Section -->
    <section class="warn" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Hola!</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm a developer, designer and aspiring harp player!</p>
                </div>
                <div class="col-lg-4">
                    <p>I help non-profits to do their work a little faster using cloud based apps. In my free time, I love learning new langauges, presently trying my hand at Shqip, Qechua and Catalan.</p>
                </div>

                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h4>Say hi(at)allentom.me</h4>
                </div>
            </div>
        </div>
    </section>